.example-card {
   
background-color: aqua;
    
  }
mat-grid-tile{
  background-color: rgb(232, 232, 240);
  min-width: 12rem;
  
}

mat-grid-list{

  margin: 20px;
 
}
  .gift-page {
    display:grid;
    justify-content: space-arouncd;
    
    margin-left: 10px;
  }

  img{
  background-color:rgb(232, 232, 240); ;
    width:100 px;
    height: 150px;
  }