<!-- <mat-grid-list cols="6" rowHeight="300px" gutterSize="100px">
  
    <mat-grid-tile *ngFor="let item of listOfGift" [colspan]="1" [rowspan]="1" (click)="deleteGift(item.id)" >
      <div>
      <button mat-button color="warn">X</button>
    </div>
      <a href={{item.giftLink}} target="blank">
      <div>
        
        <h2>{{item.giftName}}</h2>
       
        <div>
          <img src={{item.imageLink}} alt="Photo of a Shiba Inu"><br>
        </div>
        <button mat-button>BUY ME</button>
      </div>
    </a>
    </mat-grid-tile>

</mat-grid-list> -->
<mat-grid-list cols="6" rowHeight="300px" gutterSize="100px">
  <mat-grid-tile *ngFor="let item of listOfGift" [colspan]="1" [rowspan]="1">
    <div class="grid-tile-container">
      <p mat-button color="warn" class="delete-button" (click)="openDeleteConfirm(item.id,item.giftName)">X</p>
      <a href="{{ item.giftLink }}" target="blank">
        <div>
          <h2>{{ item.giftName }}</h2>
          <div>
            <img src="{{ item.imageLink }}" alt="Photo of a Shiba Inu"><br>
          </div>
          <button mat-button>BUY ME</button>
        </div>
      </a>
    </div>
  </mat-grid-tile>
</mat-grid-list>
